@{
    ViewBag.Title = "Home Page";
    <h4>@Html.ActionLink("All Transactions List", "AllTrans", "Trans")</h4>
    <h4>@Html.ActionLink("Max Transactions Amounts", "MaxTransAmounts", "Trans")</h4>
    <h4>@Html.ActionLink("Sum of Transactions Amounts", "SumTransAmounts", "Trans")</h4>
    <h4>@Html.ActionLink("Second Top 3 Trans Per State", "GetSecondTop3TransPerState", "Trans")</h4>
    <h4>@Html.ActionLink("Find Transactions", "FindTr", "Trans")</h4>
    <h4>@Html.ActionLink("Find Transaction By Id", "FindTrById", "Trans")</h4>
    <h4>------------------------</h4>
    <h4>@Html.ActionLink("Add New Transaction", "New", "Trans")</h4>
    <h4>@Html.ActionLink("Delete Transaction", "DeleteForm", "Trans")</h4>
    <h4>@Html.ActionLink("Log example", "Index", "Log")</h4>
}

